$fa-font-path: "~/fonts";
@import "node_modules/font-awesome/scss/font-awesome";

@import "node_modules/bulma/sass/utilities/initial-variables";
$primary: rgb(0, 165, 80);
$primary-invert: #fff;
@import "node_modules/bulma/bulma";

.logo img {
    height: 130px;
    margin: auto;
    width: auto;
}